* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.timer {
  display: flex;
}
.field {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 15px;
  min-width: 50px;
}
.value {
  font-size: 220%;
}
button,
input {
  font-size: 100%;
}
